<form class="text-center border border-light p-5">

  <p class="h4 mb-4">Sign up</p>

  <input type="email" class="form-control mb-4" placeholder="E-mail">

  <input type="password" class="form-control" placeholder="Password">
  <small class="form-text text-muted mb-4">
    At least 8 characters and 1 digit
  </small>

  <button mdbBtn color="info" block="true" class="my-4" (click)="register()">Sign
    in</button>

  <hr>

  <p>By clicking
    <em>Sign up</em> you agree to our
    <a href="" target="_blank">terms of service</a> and
    <a href="" target="_blank">terms of service</a>. </p>

</form>