<div class="row">
  <h1 class="col-md-8 mx-auto"> Nutzerstatistiken </h1>
  <button mdbBtn type="button" color="elegant" mdbWavesEffect class="col-md-4 mx-auto"
    (click)="refresh()">
    <i class="fa fa-sync"></i>
    Refresh
  </button>
</div>
<div id="wrapper">
  <mat-tab-group fxFill id="tab-group" mat-stretch-tabs dynamicHeight color="primary"
    backgroundColor="secondary">
    <mat-tab label="Start">
      <ng-template fxFlex matTabContent class="mat-elevation-z4 container">
        <div class="row pt-3 pb-3">
          <stat-line-chart class="col-md-10 mx-auto" [data]="userNumbers"
            [xAxis]="'Datum'" [yAxis]="'Nutzer'"></stat-line-chart>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Karte">
      <ng-template fxFlex matTabContent class="mat-elevation-z4 container">
        <div class="row pt-3 pb-3">
          <stat-map [datas]="mapData" class="col-md-12 mx-auto"></stat-map>
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Einzeln">
      <ng-template fxFlex matTabContent class="mat-elevation-z4 container">
        <div class="row pt-3 pb-3" *ngFor="let data of userNumbers">
          <stat-line-chart class="col-md-10 mx-auto" [data]="[data]" [xAxis]="'Datum'"
            [yAxis]="'Nutzer'" [color]="data.color"></stat-line-chart>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>