<div class="card-container">
  <mat-card>
    <mat-card-title>Vergangene Veranstaltungen</mat-card-title>
    <br><event *ngFor="let termin of filter(-1)" [termin]="termin"></event>
  </mat-card>
  <mat-card>
    <mat-card-title>Diese Woche</mat-card-title>
    <br><event *ngFor="let termin of filter(0)" [termin]="termin"></event>
  </mat-card>
  <mat-card>
    <mat-card-title>Bevorstehende Veranstaltungen</mat-card-title>
    <br><event *ngFor="let termin of filter(1)" [termin]="termin"></event>
  </mat-card>
</div>