<div class="row" *ngIf="veranstaltungsForm">
  <div class="col-md-8 mx-auto">
    <h1>Veranstaltungdetails</h1>
    <div [formGroup]="veranstaltungsForm">
      <div class="row">
        <mat-form-field class="col-md-6">
          <input matInput formControlName="title" placeholder="Titel">
        </mat-form-field>

        <mat-form-field class="col-md-6">
          <input matInput [matDatepicker]="picker1" placeholder="Datum"
            formControlName="datum">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <div class="col-md-6">
          von
          <input [ngxTimepicker]="picker" formControlName="von">
          <ngx-material-timepicker #picker></ngx-material-timepicker>
        </div>

        <div class="col-md-6">
          bis
          <input [ngxTimepicker]="picker2" formControlName="bis">
          <ngx-material-timepicker #picker2></ngx-material-timepicker>
        </div>

        <mat-form-field class="col-md-12">
          <textarea matInput formControlName="anmerkung" placeholder="Anmerkung"></textarea>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" class="col-md-12" (click)="save()">
        Speichern
      </button>
    </div>

  </div>
</div>