<div class="row">
  <div class="col-md-8 mx-auto">
    <h1>Veranstaltungdetails</h1>
    <div [formGroup]="veranstaltungsForm">
      <div class="row">
        <mat-form-field class="col-md-6">
          <mat-select placeholder="Modul" formControlName="modul" required>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let modul of module" [value]="modul.Id">
              {{modul.Beschreibung}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="col-md-6">
          <input matInput [matDatepicker]="picker1" placeholder="Datum"
            formControlName="datum">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="col-md-6">
          <input matInput [matDatepicker]="picker2" placeholder="Von"
            formControlName="von">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="col-md-6">
          <input matInput [matDatepicker]="picker3" placeholder="Bis"
            formControlName="bis">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="col-md-12">
          <textarea matInput placeholder="Anmerkung"></textarea>
        </mat-form-field>
      </div>
    </div>

  </div>
</div>