// http://mcg.mbitson.com
$atos-lightpurple: (
  50: #f4e5f5,
  100: #e4bee6,
  200: #d393d5,
  300: #c167c4,
  400: #b347b7,
  500: #a626aa,
  600: #9e22a3,
  700: #951c99,
  800: #8b1790,
  900: #7b0d7f,
  A100: #fbb1ff,
  A200: #f97eff,
  A400: #f74bff,
  A700: #f531ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$mat-elegant: (
  50: #e4e4e4,
  100: #bcbcbc,
  200: #909090,
  300: #646464,
  400: #424242,
  500: #212121,
  600: #1d1d1d,
  700: #181818,
  800: #141414,
  900: #0b0b0b,
  A100: #e76c6c,
  A200: #e04040,
  A400: #ec0000,
  A700: #d30000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);
$atos-orange: (
  50: #ffece3,
  100: #ffd0ba,
  200: #ffb18c,
  300: #ff925e,
  400: #ff7a3c,
  500: #ff6319,
  600: #ff5b16,
  700: #ff5112,
  800: #ff470e,
  900: #ff3508,
  A100: #ffffff,
  A200: #fff6f4,
  A400: #ffcac1,
  A700: #ffb4a7,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$atos-yellow: (
  50: #f3f2e0,
  100: #e2dfb3,
  200: #cfca80,
  300: #bbb54d,
  400: #ada526,
  500: #9e9500,
  600: #968d00,
  700: #8c8200,
  800: #827800,
  900: #706700,
  A100: #fff59f,
  A200: #fff06c,
  A400: #ffeb39,
  A700: #ffe81f,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$atos-purple: (
  50: #ede7f6,
  100: #d1c4e9,
  200: #b39cdb,
  300: #9474cd,
  400: #7d57c2,
  500: #6639b7,
  600: #5e33b0,
  700: #532ca7,
  800: #49249f,
  900: #381790,
  A100: #d3c6ff,
  A200: #ac93ff,
  A400: #8560ff,
  A700: #7247ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);
$atos-turquoise: (
  50: #e5f4f3,
  100: #bee4e1,
  200: #93d3cd,
  300: #67c1b8,
  400: #47b3a9,
  500: #26a69a,
  600: #229e92,
  700: #1c9588,
  800: #178b7e,
  900: #0d7b6c,
  A100: #adfff3,
  A200: #7affec,
  A400: #47ffe4,
  A700: #2dffe0,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$atos-green: (
  50: #e8f3e7,
  100: #c5e1c2,
  200: #9fce9a,
  300: #79ba72,
  400: #5cab53,
  500: #3f9c35,
  600: #399430,
  700: #318a28,
  800: #298022,
  900: #1b6e16,
  A100: #abffa7,
  A200: #7aff74,
  A400: #4aff41,
  A700: #31ff27,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$atos-pink: (
  50: #fae4f0,
  100: #f3bcda,
  200: #eb8fc2,
  300: #e362aa,
  400: #dd4197,
  500: #d71f85,
  600: #d31b7d,
  700: #cd1772,
  800: #c71268,
  900: #be0a55,
  A100: #ffe9f1,
  A200: #ffb6d1,
  A400: #ff83b1,
  A700: #ff69a1,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$atos-gray: (
  50: #f1f1f1,
  100: #dcdddd,
  200: #c4c6c6,
  300: #acafaf,
  400: #9b9e9e,
  500: #898d8d,
  600: #818585,
  700: #767a7a,
  800: #6c7070,
  900: #595d5d,
  A100: #fbf3d0,
  A200: #a2f6f6,
  A400: #66ffff,
  A700: #4dffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$atos-lightblue: (
  50: #e0f5fa,
  100: #b3e7f3,
  200: #80d7ec,
  300: #4dc7e4,
  400: #26bbde,
  500: #00afd8,
  600: #00a8d4,
  700: #009fce,
  800: #0096c8,
  900: #0086bf,
  A100: #e7f7ff,
  A200: #b4e6ff,
  A400: #81d4ff,
  A700: #68cbff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$atos-darkblue: (
  50: #e0f1f8,
  100: #b3dced,
  200: #80c4e2,
  300: #4dacd6,
  400: #269bcd,
  500: #0089c4,
  600: #0081be,
  700: #0076b6,
  800: #006caf,
  900: #0059a2,
  A100: #cce5ff,
  A200: #99cbff,
  A400: #66b0ff,
  A700: #4da3ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$atos-blue: (
  50: #e0edf4,
  100: #b3d1e3,
  200: #80b3d0,
  300: #4d94bd,
  400: #267daf,
  500: #0066a1,
  600: #005e99,
  700: #00538f,
  800: #004985,
  900: #003874,
  A100: #a2c7ff,
  A200: #6fa8ff,
  A400: #3c89ff,
  A700: #237aff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);
$materialred: (
  50: #fee8e7,
  100: #fcc7c3,
  200: #faa19b,
  300: #f77b72,
  400: #f65f54,
  500: #f44336,
  600: #f33d30,
  700: #f13429,
  800: #ef2c22,
  900: #ec1e16,
  A100: #ffffff,
  A200: #ffe9e9,
  A400: #ffb8b6,
  A700: #ff9f9c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
$materialgreen: (
  50: #eaf5ea,
  100: #c9e7cb,
  200: #a6d7a8,
  300: #82c785,
  400: #67bb6a,
  500: #4caf50,
  600: #45a849,
  700: #3c9f40,
  800: #339637,
  900: #248627,
  A100: #c5ffc7,
  A200: #92ff95,
  A400: #5fff64,
  A700: #46ff4b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
